@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Regular_0-webfont.eot');
    src: url('../fonts/ProximaNova-Regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular_0-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular_0-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Regular_0-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Regular_0-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/ProximaNova-Bold_0-webfont.eot');
    src: url('../fonts/ProximaNova-Bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Bold_0-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Bold_0-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Bold_0-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold_0-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/ProximaNova-Light_0-webfont.eot');
    src: url('../fonts/ProximaNova-Light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Light_0-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Light_0-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Light_0-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Light_0-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/ProximaNova-Semibold_0-webfont.eot');
    src: url('../fonts/ProximaNova-Semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Semibold_0-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNova-Semibold_0-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold_0-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Semibold_0-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
 padding:0;
 margin:0;
 font-family: 'proxima_nova_rgregular';
 color:#333;
 font-size:13px;
 background:#fff;	
 }
 .pad0{padding:0;}
.top_bread {
    background: #f3be4e;
}
.top_bread span.yellow {
    color: #fff;
}
.wrapper{ 
  position:relative;
  width:100%;
}

.head-top{ 
 background:#373737;
 min-height:39px;
 }

.user-panel .btn-default {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 5px;
    font-size: 13.33px;
    margin: 8px 5px 0;
    padding: 1px 13px;
    vertical-align: middle;
}

.logo {
    height: 100%;
    vertical-align: middle;

} 

.head-bottom {
    background: none repeat scroll 0 0 #fff;
	padding-top: 5px;
	padding-bottom: 10px;
}

.head-bottom .main-nav {
    margin-top:35px;
}
.main-nav {
    float: right !important;
}

.main-nav .navbar-nav li a {
    color: #333;
    font-size: 17.33px;
    padding: 18px 19px 29px;
    text-align: center;
    text-decoration:none;
    margin: 0 2px;
    transition:0.3s;
}

.main-nav .navbar-nav li > a:focus, .nav > li > a:hover {
    background-color:transparent;
    text-decoration: none;
      color: #F5B101;
}

.main-nav .navbar-nav li a:after {
   content:"";
   height:2px;
   background-color: #F5B101;
   width:0%;
   bottom: 15px;
   
   	left: 51%;
    position: absolute;
    right: 51%;
    transition: all 0.3s ease 0s;
}


.main-nav .navbar-nav li a:hover:after {
   width:100%;
   left: 0;
    right: 0;
}

.head-bottom .main-nav .nav .active > a {/* 
    background:#eeeeee; */
    color: #F5B101;
}
 .head-bottom .main-nav .nav .active > a:after {
    width: 100%;
    left: 0;
    right:0;
}

.gap10{
	height:10px;
	}


.three-block-wrap {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #ddd;
    text-align: center;position:relative;
}

.white-bg {
    background: none repeat scroll 0 0 #fff;
    padding: 33px;
}

.three-block-wrap p {
    padding: 15px 37px;
	font-family: 'proxima_novalight';
	color:#282828;
	
}

.three-block-wrap a {
    background: none repeat scroll 0 0 #333;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 15.33px;
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    transition:0.3s;
   /*  text-transform: uppercase; */
    letter-spacing: 1px;
    -webkit-transition:0.3s;
}
.three-block-wrap a:hover {
    background: #e0ab3c;color:#fff;
}
.h_text {
    height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;    margin-bottom: 20px;
}


.who-we-are-block .fa-users {
    color: #c5c5c5;
    font-size: 201px;
    margin: 33px;
    text-align: center;
}

.who-we-are-block h1 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin: 0;
    padding: 5px 0 10px 0;
    letter-spacing: 1px;
}
 
 .who-we-are-block span{
  font-size:25.33px;
  font-family: 'proxima_novalight';	
  text-transform:uppercase; 
}

.three-block-wrap p {
    padding: 15px 37px;
    font-family: 'proxima_novalight';
    color: #282828;
    font-size: 15px;
    line-height: 22px;
}

.who-we-are-block a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 13.33px;
    padding: 0;
    /* text-transform: uppercase; */
}

.tracking-system-blcok{ 
  background-image:url(../Images/tackin-system-bg.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  padding: 30px 0;
}

.tracking-system-blcok h2 {
    color: #fff;
    margin: 0;
    text-align: center;
	font-family: 'proxima_nova_rgbold';
	text-transform:uppercase;
}

.tracking-system-blcok .item-cover {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: block;
    margin: 15px 18px;
    padding: 10px;
    text-align: center;
    width: 290px;
}

.item-cover h4 {
    text-align: left;
}

.item-cover p{ 
  text-align:left;
  font-family: 'proxima_novalight';
  }

.counting-visual{position:relative;}
.counting-visual > span {
    background: none repeat scroll 0 0 #ff4b64;
    border-radius: 58%;
    color: #fff;
    display: block;
    font-size: 36px;
    font-weight: 600;
    height:75px;
    line-height:75px;
    margin:10px auto;
    text-align: center;
    width:75px;
	
} 

.visual-content {
    background: none repeat scroll 0 0 #eee;
    padding:0 15px;
	position:relative;
	margin-bottom: 20px;
}

.service-icon {
    float: left;
    padding-top: 31px;
    vertical-align: middle;
    width:60px;
}

.desc {
    float: right;
    vertical-align: top;
    width:190px;
} 

.visual-content::after {
    border-bottom: 34px solid #eee;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: "";
    display: inline-block;
    position: relative;
    right: -113px;
    top: -115px;
}

footer{ 
  background:#373737; 
  padding:30px 0;
  }
  
.sep-verti {
   
    padding-right: 0;
    width: 280px;
}

.headline > h4 {
    color: #fff;
    font-family: 'proxima_novasemibold';
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.38);
    padding-bottom: 10px;
}

footer .list-unstyled > li a{
    color: #fff;
    display: block;
    padding: 5px 0;
    text-decoration: none;
	font-size:14px;
	position:relative;
	padding-left: 15px;
	transition:0.4s;
	-webkit-transition:0.4s;
}
footer .list-unstyled > li a:hover{padding-left: 20px;color: #f3be4e;}
footer .list-unstyled > li a:before {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    left: 0;
    font-size: 15px;
    color: #f3be4e;
    content: "\f105";
}
footer .list-inline > li a{
	
  color: #fff;
    display: block;
    padding: 5px 0;
    text-decoration: none;
	font-size:14px;
}

.btn-u {
    background: none repeat scroll 0 0 #f3be4e;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 23px;
    padding: 0.2px 16px;
    text-align: center;
	height: 34px;
}

.copyright {
    background: none repeat scroll 0 0 #333;
    bottom: -34px;
    color: #999999;
    padding: 10px 0;
    position: relative;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    font-family: 'proxima_novalight';
}
.subscribe-block input {
    border: 0;
}

.subscribe-block button {
    border-radius: 0;
}
button:focus{outline:none;}
.social_links {
    margin: 20px 0;
}

.social_links li a {
    transition: 0.4s;
    font-size: 20px !important;
}

.social_links li a:hover {
    color: #f3be4e;
}
<!-- Rahul -->
.bg-body{
	background-color:#fff;
	}
.align-right{
	text-align:right;
	font-size:16px;
	  margin-top: 10px;
	}
.align-right span {
    padding: 0px 8px;
}
.box-head{
	color: #f3be4e;
	font-size: 20px;
	}
.content-box.box-default img {
    width: 100%;
    min-height: 222px;
    max-height: 220px;
}
.top-margin{
	margin-top:15px;
	}
.top-margin30{
	margin-top:30px;
	}
.bottom-margin{
	margin-bottom:20px;
	}
.bottom-margin30{
	margin-bottom:30px;
	}
.ftrd-tab {
  background: #f3be4e;
  margin-left: 5px;
}
.ftrd-tab:hover {
  background: #f3be4e;
  margin-left: 5px;
}
.ftrd-tab active {
  background: #333;
  margin-left: 5px;
}
.featured-ul{
	border-bottom: 0px solid #ddd;
	color: #fff;
	font-size:14px;
	padding: 0 10px;
	}
.featured-ul>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background:#333;
	margin: 0px;
	color:#fff;
	font-size:14px;
    border: 0;
    border-radius: 0;
	}
.bshad {
    margin-bottom: 15px;
}
.featured-ul>li>a, .featured-ul>li>a:focus, .featured-ul>li>a:hover{
	background:#f3be4e;
	margin: 0px;
	color:#fff;
    border: 0;
	}
.ver-inline-menu {
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
}
.ver-inline-menu li {
  position: relative;
  margin-bottom: 1px;
}
.ver-inline-menu li:hover {
  position: relative;
  margin-bottom: 1px;
  background:#000;
}
.ver-inline-menu li a {
    font-size: 16px;
    color: #fff;
    display: block;
    background: #333;
    border-left: solid 2px #c4d5df;
    text-decoration: none;
    border: 1px solid #ddd;
    transition: 0.3s;
    line-height: 49px;
}
.ver-inline-menu li i {
    width: 51px;
    height: 51px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 14px 10px 10px 8px;
    margin: 0 8px 0 0;
    text-align: center;
    background: #f3be4e;
    transition: 0.3s;
}
a, a:focus, a:hover, a:active {
    outline: 0 none !important;
}
.ver-inline-menu li a:hover {
  background: #f3be4e;
}
.ver-inline-menu li a:hover i {
    background: #d4a440;
}
.para14{
	font-size:14px;
	font-weight: 500;
	}
.para16{
	font-size:16px;
	font-weight: 500;
	}
.contact-widget i, .twitter-widget i, .icon-margin {
  margin-right: 12px;
  list-style:none;
  font-size: 14px;
	}
.list-group1{
	list-style:none;
	}
.page-heading {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight:bold;
}
.tes-icon {
  color: #969292;
  font-size: 20px !important;
  margin-right: 12px;
}
.dropdown:hover .dropdown-menu {

}
.main-nav .dropdown-menu li a {
  color: #333;
  font-size: 17.33px;
  text-align: left;
  text-decoration: none;
  padding: 5px;
}
textarea { resize:vertical;
	width:100%;
 }	 
 .yellow{
	 color: #f3be4e;
	 }
.ybg{
	background:#1d2939;
	}
.margin8{
	margin-bottom:8px;
	margin-top:8px;
	}
.sm>li>a{
	color:#fff;
	}
.sm>li>a:hover, a:active{
	color:#000;
	background:1caf9a !important;
	
	}
.hbold{
	font-size:14px;
	font-weight:bold;
	border-bottom: 1px solid #1D2939;
	}
input.error {
  border: 1px solid red;
}
span.success {
  color: green;
}
.error{color:red;}
textarea.error{border:1px solid red;}
.error.form-control:focus{border:1px solid red; box-shadow:none;}

.breadcrumb h3 {
    margin-bottom: 0;
    margin-top: 10px;
}

.login-body {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e2e2e4;
    border-radius: 3px;
    margin: 0 auto 30px;
    padding: 20px;
    width: 600px;
}
.login-body .page-heading {
    font-size: 20px;
    font-weight: normal;
    margin-bottom:40px;
    text-align: center;
}

.login-body #login-form .control-label {
    font-size: 16px;
    height: 40px;
    line-height: 40px;  
    margin: 0;
}
.login-body #login-form .form-control{ 
	height:40px; 
	box-shadow:none;
	}
	
	.btn-submit {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 16px;
    padding: 6px 20px;
    transition:0.3s;
}
.btn-submit:hover,.btn-submit:focus {
    background: #f3be4e none repeat scroll 0 0;
}
.bx-wrapper .bx-pager-item {
    display: inline-block !important;
}

.bx-pager.bx-default-pager {
    bottom: 19px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #fe992e !important;
}
a.read_more {
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 15.33px;
    display: inline-block;
    background: #333;
 /*    text-transform: uppercase; */
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 10px 20px;
    transition: 0.3s;
}
  a.read_more:hover{background: #e0ab3c;} 
 .nav1 {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}  
 
.nav1>li {
    position: relative;
    display: block;
}

.who-we-are-block p {
    font-family: 'proxima_novalight';
    color: #282828;
    font-size: 15px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 15px;
}
	
	.service-f-block p{
	 
	font-family: 'proxima_novalight';
	color: #282828;
	font-size: 15px;
	line-height: 19px;
	text-align: left;
	 
	}
form#contact_form label sup {
    color: #f00;
    font-size: 20px;
    top: 0;
    margin: 0 2px;
}
form#contact_form .form-control {
    border: 1px solid #ddd;
    background: #fafafa;
}
form#contact_form .form-control:focus {border-color:#f3be4e;box-shadow:none;outline:none;}
.faq_acc .panel-heading {
    background: #f3be4e;
    color: #fff;
    border-radius: 0;
}

.faq_acc .panel-heading a:focus {
    color: #fff;
}
.faq_acc .panel-group .panel{border-radius:0;border:0;background: #f1f1f1;}
.faq_acc .panel-group .panel-heading {
    padding: 19px 15px;
}
.head-top a button {
    background: #f3be4e !important;
    color: #fff;
    border: 0;
    border-radius: 0 !important;
    padding: 6px 14px !important;
    font-size: 15px !important;
    transition:0.3;
    margin: 3px !important;
}
/*****=================== Login page ======================*****/
.login-page{background-image:url('../Images/login_bg.jpg');height:100vh;padding:30px 0;background-size:cover;}
.login-page .loginbox {float:none;background-color:#fff;padding:20px 30px;margin:0 auto;margin-top: 25vh;overflow:hidden;}
.login-page  .form-group label {font-weight: normal;}
.login-page .form-group label sup {color: #f00;}
.login-page  .form-group .form-control {border-radius: 0;box-shadow: none;height: 45px;}
.btn-custom {position:relative;background: #f00 none repeat scroll 0 0;border-radius: 0;color: #fff;line-height: 20px;padding: 15px;width: 100%;display: block;text-align: center;transition: 0.3s;}
.btn-custom:hover{color:#fff;}
.btn-custom:hover:after{width:100%;transition:.5s;background:rgba(0,0,0,0.05)}
.btn-custom:after{position:absolute;left:0;top:0;width:5px;height:100%;background:rgba(0,0,0,0.20);transition:.5s;content:"";}
.btn-custom2 {background: #fff;border-radius: 0;border:2px solid #00afef;color: #00afef;line-height: 20px;padding: 8px 40px 9px;width: 100%;display: block;text-align: center;transition: 0.3s;}
.fpass {text-align: right;margin-bottom: 15px;font-size: 14px;}
.fpass a {color: #282828;margin: 0 5px;}
.fpass a:hover {color: #f00;}
.loginbox center {font-size: 27px;font-weight: 500;border-bottom: 1px solid #ddd;margin-bottom: 20px;}
/*****=================== End Login page ======================*****/

header.fix_header {
    position: absolute;
    width: 100%;
}

header.fix_header .head-bottom {
    background: transparent;
}

header.fix_header .head-bottom ul li a {
   
}


.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
  
  a.lan_switch {
    position: fixed;
    z-index: 1;
    transform: rotate(90deg);
    background: #ff9931;
    color: #fff;
    padding: 4px 16px;
    font-size: 19px;
    right: 0;
    display: inline-block;
    top: 50%;
    transform-origin: right top 0;
    text-decoration: none;
}


ul.app_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.app_links li {
    width: 32%;
    vertical-align: top;
    text-align: center;
}

ul.app_links li a {
    display: inline-block;
    font-size: 20px;
    margin: 0 3px;
    text-align: center;    transition: 0.3s;
}
ul.app_links li a:hover {
    color: #ff9931;
}
ul.app_links li h3 {
    color: #fff;
    font-size: 11px;
    height: 22px;
    margin: 0 0 7px 0;
    line-height: 16px;
    font-weight: bold;
}